
<!DOCTYPE html>
<html>
    <style>
        .img-circle,img-responsive{
        height: 500px;
        }
    </style>
  <head>
    <title>CONVERTED NFT</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <h1 style="font: size 100px; text-align: center ;">Generated NFT is:-</h1>
    <!-- <img src="/build/images/2.png" width="400" height="235">  -->
    <img src="images/1.png" width="300" height="235"/> 
    <img src="images/2.png" width="300" height="235"/> 
    <img src="images/3.png" width="300" height="235"/> 
    <img src="images/4.png" width="300" height="235"/> 
    <img src="images/5.png" width="300" height="235"/> 
    <img src="images/6.png" width="300" height="235"/> 
    <img src="images/7.png" width="300" height="235"/> 
    <img src="images/8.png" width="300" height="235"/> 
    <img src="images/9.png" width="300" height="235"/> 
    <img src="images/10.png" width="300" height="235"/> 
   
  <a href="http://localhost:3001/">Go back</a>

  
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>